ul.social {
	text-align: center;
	padding-left: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.social li {
	display: inline;
	list-style-type: none;
}
.social li img {
	max-height: 40px;
	margin: 0px;
	display: inline;
}

.about-me {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif
}

hr.divider {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px
	solid #ccc;
	margin: 1em 0;
	padding: 0;
}
