<ul class='social'>
        <li><a href='mailto:thomas@ooo.pm' class='email'><img src='/assets/imgs/email.png' /></a></li>
        <li><a href='http://github.com/graves'><img src='/assets/imgs/github.png' /></a></li>
        <li><a href='http://twitter.com/dqt'><img src='/assets/imgs/twitter.png' /></a></li>
        <li><a href='http://instagram.com/no.sql'><img src='/assets/imgs/instagram.png' /></a></li>
        <li><a href='http://blog.ooo.pm/rss'><img src='/assets/imgs/rss.png' /></a></li>
</ul>

<p class='readmore about-me'><a href='/about'>About Me<i class="fa fa-chevron-circle-right"></i></a></p>

<!--
<h2 class="blog-description">{{@blog.description}}</h2>
-->

<hr class='divider'>

